body, html{
    background-color: #17161c;
    font-family: monospace;
    
}

#centerContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.orange{
    color: #b87946;
}

.darkGrey{
    color: #808080;
}

.colorTag{
    color: #4084c7;
}

.textAlign{
    display: flex;
    width: 100vw;
    justify-content: center;
}

p{
    padding: 0;
    margin: 10px;
    color: white;
    font-size: 1.4rem;
}

.htmlDown{
    
    padding: 0;
    margin: 20px;
    position: relative;
    bottom: 10px;
}

h1{
    margin: 0;
    position: absolute;
    top: 60px;
    padding: 0;
    color: white;
    font-size: 3rem;
}


@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

@keyframes typing-and-deleting {
    0%, 100% { width: 0; } /* Na začátku a na konci animace je šířka textu 0. */
    25% { width: 12.3ch; } /* Na 25% animace je text plně napsán (13 znaků široký). */
    50%, 75% { width: 12.3ch; } /* Mezi 50% a 75% animace zůstane text napsán, což vytváří pauzu před mazáním. */
  }
  
  @keyframes blink-caret {
    50% { border-color: transparent; } /* Blikání kurzoru - kurzor se stává průhledným ve 50% animace. */
  }
  
  h1 {
    border-right: .1em solid rgb(255, 255, 255); /* Vytváří efekt textového kurzoru. */
    width: 13ch; /* Maximální šířka textu, který se má zobrazit. */
    margin: 2em 1em;
    white-space: nowrap; /* Zabraňuje zalamování textu na nový řádek. */
    overflow: hidden; /* Skrývá text, který přesahuje šířku elementu. */
    animation: typing-and-deleting 6s steps(13, end) infinite, blink-caret .75s step-end infinite;
    /* Animace: 
       - typing-and-deleting: Napsání a smazání textu s celkovou dobou 6 sekund a nekonečným opakováním.
       - blink-caret: Blikání kurzoru s intervalem 0.75 sekundy a nekonečným opakováním.
    */
  }

  .container-section{
    display: flex;
    margin: 20px;
    padding: 10px;
    min-height: 125px;
    border: solid 1px #333661;
    border-radius: 20px;
    background: #040019;
    font-size: 1.2rem;
    border-top: solid 30px #333661;
    transition: transform 0.5s;
    max-width: 1500px;
    min-width: 420px;
  }

  .container-section:hover{
    transform: scale(1.01);
  }


  span, footer{
    line-height: 50px;
  }

  .footer{
    width: 100%;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  a{
    color: #4084c7;
  }

  .center{
    font-size: 1em;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .underline{
    text-decoration: underline;
  }

  .bigger{
    font-size: larger;
  }

  .positiondots{
    z-index: 9999;
    width: 100px;
    display: flex;
    height: 15px;
    position: relative;
    top: -32px;
    left: -5px;
    flex-direction: row;
  }

  .dot{
    margin-left: 7px;
    height: 15px;
    width: 15px;
    background: #040019;
    border-radius: 50%;

  }

  @media screen and (min-width: 490px) {
    .contactdva{
        display: none;
    }
  }
  @media screen and (max-width: 489px) {
    .contact{
        display: none;
    }
    .container-section{
        min-width: 270px;
        justify-content: center;
    }
    .dotsdva{
        left: -34px;
    }
    }
    
